In [4]:
# libraries
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from datetime import datetime

# 1. load data

In [5]:
data_dir = "input/new/"
operation_train = pd.read_csv(data_dir + 'operation_train_new.csv', encoding='utf8', engine='python')
transaction_train = pd.read_csv(data_dir + 'transaction_train_new.csv', encoding='utf8', engine='python')
tag_train = pd.read_csv(data_dir + 'tag_train_new.csv', encoding='utf8', engine='python')
operation_round1 = pd.read_csv(data_dir + 'operation_round1_new.csv', encoding='utf8', engine='python')
transaction_round1 = pd.read_csv(data_dir + 'transaction_round1_new.csv', encoding='utf8', engine='python')

In [6]:
operation_train.shape

(1460843, 20)

In [7]:
len(operation_train['UID'].unique())

29728

In [8]:
transaction_train.shape

(264654, 27)

In [9]:
len(transaction_train['UID'].unique())

30542

In [10]:
tag_train.shape

(31179, 2)

In [11]:
operation_round1.shape

(1769049, 20)

In [12]:
transaction_round1.shape

(168981, 27)

In [13]:
operation_train.head()

,UID,day,mode,success,time,os,version,device1,device2,device_code1,device_code2,device_code3,mac1,mac2,ip1,ip2,wifi,geo_code,ip1_sub,ip2_sub
0,10035,30,c8741ce15ceac2a4,1.0,17:51:50,102,7.0.9,49dd36968dbfadda,OPPO R11,ecb58082e0e9b8e2,00fa2e4ba95605ef,NaN,NaN,a8dc52f65085212e,55dd8936655c86f6,NaN,NaN,wskx,e58e48fb9215116e,NaN
1,16264,16,20a91b45ef8f8221,1.0,08:36:00,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fc7fc47d6c93f554,NaN,NaN,NaN,3502c553ea2ac187
2,13162,8,b668e42707ee9c7b,0.0,18:09:57,102,7.0.5,630a1adff2a87007,MI MAX 2,1da225cb679a37eb,f18538156b8f9b57,NaN,a8dc52f65085212e,NaN,2147d925e7a8ba3c,NaN,NaN,NaN,3591678eca3f7a23,NaN
3,21392,23,c8741ce15ceac2a4,1.0,23:53:49,102,7.0.9,630a1adff2a87007,MI 5X,d0c285513b785609,a7e79e3c2c85c8c7,NaN,NaN,04a2d6c090518faa,c52efc665f0af581,NaN,4ff1553b1c96360e,wm4v,fdb5e20f6a6f2cd7,NaN
4,18599,26,acfaded7e04e7ba0,1.0,11:11:15,102,7.0.0,8399be6b80847240,NaN,27efd832595503f6,b6457e2264266257,NaN,NaN,1ab9dc3eae102aa6,0fe293bea342665a,NaN,NaN,NaN,f5009e2c6c13c80c,NaN

In [14]:
operation_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460843 entries, 0 to 1460842
Data columns (total 20 columns):
UID             1460843 non-null int64
day             1460843 non-null int64
mode            1460843 non-null object
success         1359763 non-null float64
time            1460843 non-null object
os              1460843 non-null int64
version         1208729 non-null object
device1         1209417 non-null object
device2         1032582 non-null object
device_code1    1047843 non-null object
device_code2    1015857 non-null object
device_code3    160726 non-null object
mac1            147147 non-null object
mac2            897176 non-null object
ip1             1198398 non-null object
ip2             135373 non-null object
wifi            457041 non-null object
geo_code        965455 non-null object
ip1_sub         1198398 non-null object
ip2_sub         135373 non-null object
dtypes: float64(1), int64(3), object(16)
memory usage: 222.9+ MB

In [15]:
operation_train.describe()

                UID           day       success            os
count  1.460843e+06  1.460843e+06  1.359763e+06  1.460843e+06
mean   4.662851e+04  1.615812e+01  9.479005e-01  1.182725e+02
std    1.978302e+04  9.006117e+00  2.222278e-01  3.632617e+01
min    1.000000e+04  1.000000e+00  0.000000e+00  1.010000e+02
25%    2.144200e+04  8.000000e+00  1.000000e+00  1.020000e+02
50%    5.525700e+04  1.600000e+01  1.000000e+00  1.020000e+02
75%    6.155700e+04  2.300000e+01  1.000000e+00  1.030000e+02
max    6.775600e+04  3.000000e+01  1.000000e+00  2.000000e+02

In [16]:
len(operation_train['UID'].unique())

29728

In [17]:
transaction_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264654 entries, 0 to 264653
Data columns (total 27 columns):
UID             264654 non-null int64
channel         264654 non-null int64
day             264654 non-null int64
time            264654 non-null object
trans_amt       264654 non-null int64
amt_src1        264654 non-null object
merchant        264654 non-null object
code1           24875 non-null object
code2           3219 non-null object
trans_type1     264654 non-null object
acc_id1         100318 non-null object
device_code1    174139 non-null object
device_code2    167096 non-null object
device_code3    43626 non-null object
device1         217088 non-null object
device2         225609 non-null object
mac1            173444 non-null object
ip1             225926 non-null object
bal             264654 non-null int64
amt_src2        141939 non-null object
acc_id2         28752 non-null object
acc_id3         28989 non-null object
geo_code        197194 non-null object
trans_type2     229500 non-null float64
market_code     30025 non-null object
market_type     30025 non-null float64
ip1_sub         225926 non-null object
dtypes: float64(2), int64(5), object(20)
memory usage: 54.5+ MB

In [18]:
transaction_train.sample(5)

,UID,channel,day,time,trans_amt,amt_src1,merchant,code1,code2,trans_type1,...,ip1,bal,amt_src2,acc_id2,acc_id3,geo_code,trans_type2,market_code,market_type,ip1_sub
32575,23131,102,30,17:13:21,1459,155c9e1c32bd0fa2,d8babe2d19fa0c08,NaN,NaN,6d55c54c8b1056fb,...,6a152657aae3ce72,2845,9a8ee16bde15e38a,NaN,NaN,ww4k,102.0,NaN,NaN,844b960acf4a57dc
198909,58214,140,18,13:44:14,2546,c5fc631370cabc0d,11382423588e20f5,NaN,NaN,c2f2023d279665b2,...,ee7a198e570cd9eb,100,NaN,NaN,NaN,ws0c,NaN,NaN,NaN,4487c1b902ad5b7c
23071,16188,102,8,08:53:39,2818,9451ef3c5a0d6807,3bd5cf7c40962299,NaN,NaN,61bfb66c928f36ac,...,be49decb10d6b19e,100,1ca672c7cb34af43,210897bde3555667,f11f38598ce9a9ca,NaN,102.0,NaN,NaN,01c7d9583fd58960
99746,18191,102,25,17:23:38,13691,155c9e1c32bd0fa2,3bd5cf7c40962299,NaN,NaN,61bfb66c928f36ac,...,20a52c6535d3ae71,100,cf6e3a074407c379,337193b3dff200a7,a20cb16cb8c55368,NaN,102.0,NaN,NaN,b3fa44731caf29e5
34350,12671,102,14,10:25:30,102,acdbdb842ac20f1e,922720f3827ccef8,NaN,NaN,26bcf43a19df14c8,...,4ebefa4bec37c2ba,39292,9fefed0a981dcb7a,NaN,NaN,wtq3,102.0,64a3d9560ea1c954,1.0,5a896c0edff8e3c9

In [19]:
len(transaction_train['UID'].unique())

30542

In [20]:
tag_train.head()

     UID  Tag
0  10000    1
1  10001    0
2  10002    0
3  10003    0
4  10004    0

# 2. data merge

In [21]:
# operation_train + tag
# operation_tag_train = pd.merge(operation_train, tag_train, how='left', left_on='UID',right_on='UID')
# operation_tag_train.to_csv(data_dir + 'operation_tag_train.csv', index=False)

In [22]:
# print("number of operation tag: {}".format(len(operation_tag_train)))
# operation_tag_train.sample(5)

In [23]:
# transaction_train + tag
# transaction_tag_train = pd.merge(transaction_train, tag_train, how='left', left_on='UID',right_on='UID')
# transaction_tag_train.to_csv(data_dir + 'transaction_tag_train.csv', index=False)

In [24]:
# print("number of transaction tag: {}".format(len(transaction_tag_train)))
# transaction_tag_train.sample(5)

In [25]:
# operation_round1 + tag
# operation_round1_tag = pd.merge(operation_round1, tag_train, how='left', left_on='UID',right_on='UID')
# operation_round1_tag['Tag'].isnull().sum()

In [26]:
# operation_transaction_tag = pd.merge(operation_tag_train, transaction_tag_train, how='left', left_on='UID',right_on='UID')
# operation_transaction_tag.to_csv(data_dir + 'operation_transaction_tag_train.csv', index=False)

# 3. data preprocessing

## 3.1 impute missing values

In [27]:
# missing rate
# operation_train.isnull().sum()/len(operation_train) * 100

In [28]:
n_operation_train = operation_train.shape[0]
n_operation_round1 = operation_round1.shape[0]
operation_data = pd.concat((operation_train, operation_round1)).reset_index(drop=True)
operation_data.shape

(3229892, 20)

In [29]:
operation_data_na = (operation_data.isnull().sum()/len(operation_data)) * 100
operation_data_na = operation_data_na.drop(operation_data_na[operation_data_na == 0].index).sort_values(ascending = True)
missing_operation_data = pd.DataFrame({'missing ratio': operation_data_na})
print("the number of missing item: {}".format(len(missing_operation_data)))
missing_operation_data

the number of missing item: 15

              missing ratio
success            6.003544
device1           18.243861
version           18.369809
ip1               19.060049
ip1_sub           19.060049
device2           28.769352
device_code1      31.105870
device_code2      32.981443
geo_code          36.206938
mac2              41.482935
wifi              69.635858
device_code3      87.204092
ip2               88.839998
ip2_sub           88.839998
mac1              89.604018

success

In [30]:
operation_data['success'] = operation_data['success'].fillna(2)

device1 device2 device_code1 device_code2 device_code3

In [31]:
uid_device = pd.DataFrame()
device = operation_data.groupby(['UID']).count()['device2']
uid_device['UID'] = device.index
uid_device['device'] = device.values

In [32]:
# device
operation_data.drop(['device1', 'device2', 'device_code1', 'device_code2', 'device_code3'], axis = 1, inplace = True)
operation_data = pd.merge(operation_data, uid_device, how='left', left_on='UID',right_on='UID')
operation_data['device'] = operation_data['device'].fillna(0)
mean = operation_data['device'].mean()
std = operation_data['device'].std()
operation_data['device'] = (operation_data['device'] - mean)/std

version

In [33]:
operation_data.drop('version', axis=1, inplace = True)

ip1 ip1_sub1

In [34]:
uid_ip1 = pd.DataFrame()
ip1 = operation_data.groupby(['UID']).count()['ip1_sub']
uid_ip1['UID'] = ip1.index
uid_ip1['ip1'] = ip1.values

In [35]:
operation_data.drop(['ip1_sub', 'ip1'], axis = 1, inplace = True)
operation_data = pd.merge(operation_data, uid_ip1, how='left', left_on='UID',right_on='UID')
operation_data['ip1'] = operation_data['ip1'].fillna(0)
mean = operation_data['ip1'].mean()
std = operation_data['ip1'].std()
operation_data['ip1'] = (operation_data['ip1'] - mean)/std

ip2 + ip2_sub

In [36]:
uid_ip2 = pd.DataFrame()
ip2 = operation_data.groupby(['UID']).count()['ip2_sub']
uid_ip2['UID'] = ip2.index
uid_ip2['ip2'] = ip2.values

In [37]:
operation_data.drop(['ip2_sub', 'ip2'], axis = 1, inplace = True)
operation_data = pd.merge(operation_data, uid_ip2, how='left', left_on='UID',right_on='UID')
operation_data['ip2'] = operation_data['ip2'].fillna(0)
mean = operation_data['ip2'].mean()
std = operation_data['ip2'].std()
operation_data['ip2'] = (operation_data['ip2'] - mean)/std

geo_cod

In [38]:
uid_geo = pd.DataFrame()
geo = operation_data.groupby(['UID']).count()['geo_code']
uid_geo['UID'] = geo.index
uid_geo['geo_code'] = geo.values

In [39]:
operation_data.drop('geo_code', axis=1, inplace=True)
operation_data = pd.merge(operation_data, uid_geo, how='left', left_on='UID',right_on='UID')
operation_data['geo_code'] = operation_data['geo_code'].fillna(0)
mean = operation_data['geo_code'].mean()
std = operation_data['geo_code'].std()
operation_data['geo_code'] = (operation_data['geo_code'] - mean)/std

mac1 + mac2 +wifi

In [40]:
operation_data.drop(['mac1', 'mac2', 'wifi'], axis=1, inplace=True)

In [41]:
operation_data_na = (operation_data.isnull().sum()/len(operation_data)) * 100
operation_data_na = operation_data_na.drop(operation_data_na[operation_data_na == 0].index).sort_values(ascending = True)
missing_operation_data = pd.DataFrame({'missing ratio': operation_data_na})
print("the number of missing item: {}".format(len(missing_operation_data)))
missing_operation_data

the number of missing item: 0

Empty DataFrame
Columns: [missing ratio]
Index: []

In [42]:
n_transaction_train = transaction_train.shape[0]
n_transaction_round1 = transaction_round1.shape[0]
transaction_data = pd.concat((transaction_train, transaction_round1)).reset_index(drop=True)
transaction_data.shape

(433635, 27)

In [43]:
transaction_data_na = (transaction_data.isnull().sum()/len(transaction_data)) * 100
transaction_data_na = transaction_data_na.drop(transaction_data_na[transaction_data_na == 0].index).sort_values(ascending = True)
missing_transaction_data = pd.DataFrame({'missing ratio': transaction_data_na})
print("the number of missing item: {}".format(len(missing_transaction_data)))
missing_transaction_data

the number of missing item: 18

              missing ratio
device2           15.716905
ip1_sub           16.312106
ip1               16.312106
trans_type2       16.665398
device1           18.293496
geo_code          26.047482
device_code1      35.190195
mac1              35.357386
device_code2      37.967184
amt_src2          47.447277
acc_id1           62.292481
device_code3      82.830260
acc_id3           88.861831
acc_id2           89.003655
market_type       90.448188
market_code       90.448188
code1             91.311356
code2             98.708361

trans_type2

In [44]:
# trans_type2
transaction_data['trans_type2'].unique()

array([102., 105.,  nan, 103., 104.])

In [45]:
transaction_data['trans_type2'] = transaction_data['trans_type2'].fillna(100)

ip1_sub and ip1

In [46]:
# ip1_sub
len(transaction_data['ip1_sub'].unique())

35243

In [47]:
# ip1
len(transaction_data['ip1'].unique())

125090

In [48]:
uid_ip = pd.DataFrame()
ip = transaction_data.groupby(['UID']).count()['ip1_sub']
uid_ip['UID'] = ip.index
uid_ip['ip'] = ip.values

In [49]:
transaction_data.drop(['ip1_sub', 'ip1'], axis = 1, inplace = True)
transaction_data = pd.merge(transaction_data, uid_ip, how='left', left_on='UID',right_on='UID')
transaction_data['ip'] = transaction_data['ip'].fillna(0)
mean = transaction_data['ip'].mean()
std = transaction_data['ip'].std()
transaction_data['ip'] = (transaction_data['ip'] - mean)/std

device1 + device2 + device_code1 + device_code2 + device_code3

In [50]:
uid_device = pd.DataFrame()
device = transaction_data.groupby(['UID']).count()['device2']
uid_device['UID'] = device.index
uid_device['device'] = device.values

In [51]:
# device
transaction_data.drop(['device1', 'device2', 'device_code1', 'device_code2', 'device_code3'], axis = 1, inplace = True)
transaction_data = pd.merge(transaction_data, uid_device, how='left', left_on='UID',right_on='UID')
transaction_data['device'] = transaction_data['device'].fillna(0)
mean = transaction_data['device'].mean()
std = transaction_data['device'].std()
transaction_data['device'] = (transaction_data['device'] - mean)/std

geo_code

In [52]:
uid_geo = pd.DataFrame()
geo = transaction_data.groupby(['UID']).count()['geo_code']
uid_geo['UID'] = geo.index
uid_geo['geo_code'] = geo.values

In [53]:
transaction_data.drop('geo_code', axis=1, inplace=True)
transaction_data = pd.merge(transaction_data, uid_geo, how='left', left_on='UID',right_on='UID')
transaction_data['geo_code'] = transaction_data['geo_code'].fillna(0)
mean = transaction_data['geo_code'].mean()
std = transaction_data['geo_code'].std()
transaction_data['geo_code'] = (transaction_data['geo_code'] - mean)/std

amt_src2

In [54]:
uid_amt_src = pd.DataFrame()
amt_src2 = transaction_data.groupby('UID').count()['amt_src2']
uid_amt_src['UID'] = amt_src2.index
uid_amt_src['amt_src2'] = amt_src2.values

In [55]:
transaction_data.drop('amt_src2', axis=1, inplace=True)
transaction_data = pd.merge(transaction_data, uid_amt_src, how='left', left_on='UID',right_on='UID')
transaction_data['amt_src2'] = transaction_data['amt_src2'].fillna(0)
mean = transaction_data['amt_src2'].mean()
std = transaction_data['amt_src2'].std()
transaction_data['amt_src2'] = (transaction_data['amt_src2'] - mean)/std

market_type

In [56]:
transaction_data['market_type'] = transaction_data['market_type'].fillna(0)

In [57]:
transaction_data.drop('market_code', axis=1, inplace=True)

else

In [58]:
transaction_data.drop(['mac1', 'acc_id1', 'acc_id2', 'acc_id3', 'code1', 'code2'], axis=1, inplace=True)

In [59]:
transaction_data.drop('merchant', axis=1, inplace=True)

In [60]:
transaction_data_na = (transaction_data.isnull().sum()/len(transaction_data)) * 100
transaction_data_na = transaction_data_na.drop(transaction_data_na[transaction_data_na == 0].index).sort_values(ascending = True)
missing_transaction_data = pd.DataFrame({'missing ratio': transaction_data_na})
print("the number of missing item: {}".format(len(missing_transaction_data)))
missing_transaction_data

the number of missing item: 0

Empty DataFrame
Columns: [missing ratio]
Index: []

##  3.2 transform variables

In [61]:
operation_data.sample(5)

,UID,day,mode,success,time,os,device,ip1,ip2,geo_code
2379704,75544,28,cd75f033b0488ace,1.0,15:57:24,200,-0.545154,-0.537470,-0.180007,-0.472030
1263180,67065,22,d25caee90b27fa9b,1.0,12:43:31,102,0.747700,0.977846,-0.339527,1.145108
3154195,70635,9,3b02bcd4b685d7a8,1.0,07:35:39,200,-0.295729,-0.281874,1.301246,-0.514688
1756822,33783,31,d21cae2b73884a8d,1.0,10:18:34,200,-0.137759,-0.143122,0.401100,-0.045447
3189373,80044,22,c8741ce15ceac2a4,1.0,10:16:25,103,-0.362242,-0.369507,-0.407892,-0.557347

In [62]:
operation_data['time'] = pd.to_datetime(operation_data['time'])
operation_data['time'] = operation_data['time'].apply(lambda x:(x-datetime.now()).seconds/3600)

In [63]:
mean = operation_data['time'].mean()
std = operation_data['time'].std()
operation_data['time'] = (operation_data['time'] - mean)/std

In [64]:
operation_data['day'] = operation_data['day'].apply(str)
operation_data['mode'] = operation_data['mode'].apply(str)
operation_data['success'] = operation_data['success'].apply(str)
operation_data['os'] = operation_data['os'].apply(str)

In [65]:
cols = ['day', 'mode', 'success', 'os']
for col in cols:
    le = LabelEncoder()
    le.fit(list(operation_data[col].values))
    operation_data[col]=le.transform(list(operation_data[col].values))

In [66]:
transaction_data.sample(5)

,UID,channel,day,time,trans_amt,amt_src1,trans_type1,bal,trans_type2,market_type,ip,device,geo_code,amt_src2
135538,11361,102,29,10:03:25,2818,155c9e1c32bd0fa2,6d55c54c8b1056fb,100,102.0,2.0,-0.284458,-0.284085,-0.281777,-0.235442
315224,41866,102,24,08:50:23,190379,b0a5496f0db7f70a,4adc3de71fe1a83c,100,100.0,0.0,-0.127446,-0.182475,-0.300392,-0.087978
299315,40373,140,29,15:26:15,9385,4d7831c6f695ab19,c2f2023d279665b2,100,105.0,0.0,-0.247514,-0.247136,-0.216622,-0.249486
413441,79623,140,6,07:30:06,2818,4d7831c6f695ab19,c2f2023d279665b2,100,105.0,0.0,-0.108974,-0.108577,-0.077005,-0.270553
53355,20981,102,20,22:00:23,1187,acdbdb842ac20f1e,26bcf43a19df14c8,100,102.0,1.0,-0.173626,-0.173238,-0.142160,-0.200332

In [67]:
transaction_data['time'] = pd.to_datetime(transaction_data['time'])
transaction_data['time'] = transaction_data['time'].apply(lambda x:(x-datetime.now()).seconds/3600)

In [68]:
cols = ['time', 'trans_amt', 'bal']
for col in cols:
    mean = transaction_data[col].mean()
    std = transaction_data[col].std()
    transaction_data[col] = (transaction_data[col] - mean)/std

In [69]:
cols = ['channel', 'day', 'amt_src1', 'trans_type1', 'trans_type2', 'market_type']
for col in cols:
    le = LabelEncoder()
    le.fit(list(transaction_data[col].values))
    transaction_data[col] = le.transform(list(transaction_data[col].values))

In [70]:
cols = ['day', 'mode', 'success', 'os']
for col in cols:
    operation_data[col] = operation_data[col].apply(str)

In [71]:
operation_data = pd.get_dummies(operation_data)
operation_train = operation_data[:n_operation_train]
operation_round1 = operation_data[n_operation_train:]
operation_train.shape

(1460843, 150)

In [72]:
cols = ['channel', 'day', 'amt_src1', 'trans_type1', 'trans_type2', 'market_type']
for col in cols:
    transaction_data[col] = transaction_data[col].apply(str)

In [73]:
transaction_data = pd.get_dummies(transaction_data)
transaction_train = transaction_data[:n_transaction_train]
transaction_round1 = transaction_data[n_transaction_train:]
transaction_train.shape

(264654, 96)

In [74]:
operation_tag_train = pd.merge(operation_train, tag_train, how='left', left_on='UID',right_on='UID')
operation_tag_train.to_csv(data_dir + 'operation_tag_train.csv', index=False)

In [75]:
transaction_tag_train = pd.merge(transaction_train, tag_train, how='left', left_on='UID',right_on='UID')
transaction_tag_train.to_csv(data_dir + 'transaction_tag_train.csv', index=False)

# 4. model deployment

In [76]:
operation_tag_train.head()

,UID,time,device,ip1,ip2,geo_code,day_0,day_1,day_10,day_11,...,success_1,success_2,os_0,os_1,os_2,os_3,os_4,os_5,os_6,Tag
0,10035,1.098637,-0.212587,-0.252663,-0.407892,-0.154032,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
1,16264,-0.315868,-0.062932,-0.084701,0.366917,0.012724,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,13162,1.144741,-0.615824,-0.595892,-0.407892,-0.537956,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21392,-1.644739,-0.495269,-0.475397,-0.407892,-0.398347,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,18599,0.079218,-0.665709,-0.245361,-0.407892,-0.588371,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1

In [77]:
operation_tag = operation_tag_train['Tag']
operation_train = operation_tag_train.drop(['UID', 'Tag'], axis=1)

In [78]:
operation_train.shape

(1460843, 149)

In [79]:
transaction_tag = transaction_tag_train['Tag']
transaction_train = transaction_tag_train.drop(['UID', 'Tag'], axis=1)

In [80]:
transaction_train.shape

(264654, 95)

In [81]:
import catboost as cb

model1 = cb.CatBoostClassifier(iterations=2000, learning_rate=0.05, depth=3, l2_leaf_reg=4, border_count=15, loss_function='Logloss', verbose=200)
cv_m1 = model1.fit(operation_train, operation_tag)

0:	learn: 0.5874436	total: 425ms	remaining: 14m 10s
200:	learn: 0.9633470	total: 1m 24s	remaining: 12m 31s

Training has stopped (degenerate solution on iteration 249, probably too small l2-regularization, try to increase it)

In [82]:
model2 = cb.CatBoostClassifier(iterations=2000, learning_rate=0.05, depth=3, l2_leaf_reg=4, border_count=15, loss_function='Logloss', verbose=200)
cv_m2 = model2.fit(transaction_train, transaction_tag)

0:	learn: 0.5990635	total: 46.3ms	remaining: 1m 32s
200:	learn: 0.2068174	total: 9.42s	remaining: 1m 24s
400:	learn: 0.1911807	total: 18.8s	remaining: 1m 14s
600:	learn: 0.1816881	total: 28.1s	remaining: 1m 5s
800:	learn: 0.1756777	total: 37.6s	remaining: 56.2s
1000:	learn: 0.1712334	total: 47.2s	remaining: 47.1s
1200:	learn: 0.1675462	total: 56.8s	remaining: 37.8s
1400:	learn: 0.1646721	total: 1m 6s	remaining: 28.3s
1600:	learn: 0.1621245	total: 1m 15s	remaining: 18.9s
1800:	learn: 0.1597777	total: 1m 25s	remaining: 9.42s
1999:	learn: 0.1578178	total: 1m 34s	remaining: 0us

# 5. predict

In [83]:
submission = pd.read_csv("input/new/example.csv") 
submission.head(5)

     UID  Tag
0  30000  0.5
1  30001  0.5
2  30002  0.5
3  30003  0.5
4  30004  0.5

In [84]:
uid = submission['UID'].to_frame()
uid_operation = pd.merge(uid, operation_round1, how='left', left_on='UID',right_on='UID')
uid_transaction = pd.merge(uid, transaction_round1, how='left', left_on='UID',right_on='UID')
operation_uid = uid_operation['UID']
uid_operation.drop('UID', axis=1, inplace=True)
transaction_uid = uid_transaction['UID']
uid_transaction.drop('UID', axis=1, inplace=True)

In [85]:
operation_pred = model1.predict_proba(uid_operation)
transaction_pred = model2.predict_proba(uid_transaction)

In [86]:
operation_sub = pd.DataFrame()
operation_sub['UID'] = operation_uid
operation_sub['Tag'] = operation_pred[:, 1]
operation_sub.head(5)

     UID       Tag
0  30000  0.330252
1  30000  0.330252
2  30000  0.235377
3  30000  0.374590
4  30000  0.235377

In [87]:
transaction_sub = pd.DataFrame()
transaction_sub['UID'] = transaction_uid
transaction_sub['Tag'] = transaction_pred[:, 1]
transaction_sub.head(5)

     UID       Tag
0  30000  0.027213
1  30001  0.149780
2  30001  0.049345
3  30001  0.113002
4  30001  0.238311

In [88]:
operation_sub = operation_sub.groupby('UID').mean()['Tag']

In [89]:
transaction_sub = transaction_sub.groupby('UID').mean()['Tag']

In [90]:
ensemble = (operation_sub + transaction_sub)/2.0
ensemble

UID
30000    0.180234
30001    0.143028
30002    0.048724
30003    0.042208
30004    0.235969
30005    0.101579
30006    0.232342
30007    0.320977
30008    0.047315
30009    0.808276
30010    0.270988
30011    0.040286
30012    0.235944
30013    0.051453
30014    0.125367
30015    0.079167
30016    0.244924
30017    0.059341
30018    0.105289
30019    0.101676
30020    0.204245
30021    0.036259
30022    0.064828
30023    0.077062
30024    0.026853
30025    0.235606
30026    0.031987
30027    0.234718
30028    0.060606
30029    0.083140
           ...
87734    0.052165
87735    0.031664
87736    0.092639
87737    0.065417
87738    0.145253
87739    0.012167
87740    0.164289
87741    0.025138
87742    0.013253
87743    0.632530
87744    0.025492
87745    0.064302
87746    0.094447
87747    0.086714
87748    0.014296
87749    0.061263
87750    0.075153
87751    0.053979
87752    0.132914
87753    0.049319
87754    0.421696
87755    0.040937
87756    0.086734
87757    0.043539
87758    0.056289
87759    0.136232
87760    0.086837
87761    0.075252
87762    0.076540
87763    0.044508
Name: Tag, Length: 31198, dtype: float64

In [91]:
ensemble.values

array([0.18023355, 0.14302836, 0.04872405, ..., 0.07525164, 0.07654016,
       0.04450808])

In [92]:
submission = pd.DataFrame()
submission['UID'] = ensemble.index
submission['Tag'] = ensemble.values
submission.to_csv('submission.csv', index=False)

In [93]:
import xgboost as xgb

In [94]:
model_xgb = xgb.XGBClassifier(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state =7, nthread = -1)

In [95]:
model_xgb.train(transaction_train, transaction_tag)

AttributeError: 'XGBClassifier' object has no attribute 'train'